# Google Cloud credentials
config/keys/*.json 
config/keys/

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Optional: build outputs
dist/
build/